
<ion-content>
  <div class="search-container">
    <ion-item>
      <ion-input [(ngModel)]="searchQuery" placeholder="Search for books" clearInput></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round" size="large">
      Search
    </ion-button>
  </div>

  <!-- Display Books -->
  <div *ngIf="books.length > 0">
    <ion-list>
      <ion-item *ngFor="let book of getPaginatedBooks()">
        <ion-thumbnail slot="start">
          <img *ngIf="book.cover_i" [src]="'https://covers.openlibrary.org/b/id/' + book.cover_i + '-M.jpg'" alt="Book Cover"/>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ book.title }}</h2>
          <p>Author: {{ book.author_name ? book.author_name.join(', ') : 'N/A' }}</p>
          <p>First Published: {{ book.first_publish_year || 'N/A' }}</p>
          <p>Publisher: {{ book.publisher ? book.publisher.join(', ') : 'N/A' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Display Next Button -->
  <div *ngIf="books.length > 0 && (currentPage + 1) * booksPerPage < books.length">
    <ion-button expand="block" (click)="loadNextPage()">Next</ion-button>
  </div>

</ion-content>
